.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 96px 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.freeBox__fJp20 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eEAqS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fdw4K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nK4Bp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  user-select: none;
  letter-spacing: 2px;
  min-width: 0;
}
.text__dXhnB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 23px;
  min-width: 0;
}
.freeBox___14SYr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.checkbox___0SfM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zbwQs {
  white-space: pre-wrap;
}
.text__uUYw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  padding-left: 28px;
  margin-top: 12px;
  min-width: 0;
}
.freeBox___5Ldzc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lIYzR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 20px;
}
.textInput__fcJse:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg___02MJu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iEtdd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__q7U8I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__zzjlJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput___3AFcp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__o2Szz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__keTz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__guq11 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.freeBox__irkOz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.checkbox__rVvJw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yalWa {
  white-space: pre-wrap;
}
.text__jEsm1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  padding-left: 28px;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__oj5Ef {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__dafzk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 20px;
}
.textInput__sZzvV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg__obImK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8XvBc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ew9Uq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__sY0Vf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput__qeml6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__ojgIa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__areOb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__izbzv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.freeBox__p26XT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.checkbox__smBtB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__j39Hb {
  white-space: pre-wrap;
}
.text__oew3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  padding-left: 28px;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__gq7H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fhDpW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 20px;
}
.textInput__qctSh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg__xkJkN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vknnn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pavEh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__n7Pta {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput__nqayn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__sQLr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fWpEs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yD8S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.freeBox__rNxAk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.checkbox__hfwL5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__taBuF {
  white-space: pre-wrap;
}
.text__bfQy0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  padding-left: 28px;
  margin-top: 12px;
  min-width: 0;
}
.freeBox___2Mywd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___6RYW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 20px;
}
.textInput___3Kzb9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg__uGrMg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qlB7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aYjxs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__dbBa3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput__fMhVz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__zyp0G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tw4VZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ze3Ja {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.freeBox__gfUiO {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.checkbox__ypLy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 80px;
  align-self: center;
  flex-shrink: 0;
}
.text__elT4R {
  white-space: pre-wrap;
}
.text__bOWot {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 27px;
}
.textInput__i9JYj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg__mG6Gy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__s4Hy5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hvDy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__sfZrs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput__k6VqD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__qpJ5Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oMkNu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ukg2K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.text___0VX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  min-width: 0;
}
.freeBox__gbSc {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.checkbox__ewUk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 80px;
  align-self: center;
  flex-shrink: 0;
}
.text__ljT0L {
  white-space: pre-wrap;
}
.text__rPh7Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 27px;
}
.textInput__yaGdR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg___9Lj0H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m5UWe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pe1Xl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text___0JpD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput___25YhH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__n8LU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gVqNy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__y8CaY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.text__lic6Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #afafaf;
  min-width: 0;
}
.freeBox__mZxa {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.checkbox__r8Gwr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 80px;
  flex-shrink: 0;
}
.text___4HmTn {
  white-space: pre-wrap;
}
.text___1FnOq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 27px;
}
.textInput__dmvNl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.svg__b3X8V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wdzsN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tPf1Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 9px;
  padding-left: 0px;
}
.text__a99W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  font-weight: 700;
}
.textInput__mSayv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 73px;
  align-self: center;
  flex-shrink: 0;
}
.svg__d8WUi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jkx6U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nBeXi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 11px;
  padding-left: 0px;
}
.text__ia94W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: #afafaf;
  min-width: 0;
}
.freeBox__xGnNx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  min-width: 0;
  padding: 8px;
}
.freeBox__xGnNx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__xGnNx > :global(.__wab_flex-container) > *,
.freeBox__xGnNx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xGnNx > :global(.__wab_flex-container) > picture > img,
.freeBox__xGnNx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.freeBox__pgxTa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.backButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kipmZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yldol {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.nextButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pJ7Rn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iZQnL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__uUAkl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fBvVl {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 300px;
  min-width: 0;
  flex-shrink: 0;
}
.text__ceZ4H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.timeline:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
