.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.acctez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 66px;
  letter-spacing: 0px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    display: none;
  }
}
.syncButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .syncButton:global(.__wab_instance) {
    height: 40px;
  }
}
.svg__tWjZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ir7J7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
