.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, #4b68ff 0%, #ffd176 100%) 0% 0% / 100% 100%
    repeat;
  padding-top: 0px;
  min-width: 0;
  min-height: 0;
}
.menu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.acctez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 66px;
  letter-spacing: 0px;
  min-width: 0;
}
.text__gvr97 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gvr97 {
    display: none;
  }
}
.button__rCsHq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__rCsHq:global(.__wab_instance) {
    height: 40px;
  }
}
.svg__rtkI1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dsS5K {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__k0VJh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__k0VJh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.column__k0VJh > :global(.__wab_flex-container) > *,
.column__k0VJh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__k0VJh > :global(.__wab_flex-container) > picture > img,
.column__k0VJh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text___3FYu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  min-width: 0;
}
.button__i0ACe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jVttE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9N3Mu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nzDri:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__f3BuU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4R88G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__h3WxU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0Vjr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dmMrt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tFbFt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__m41Dg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__axcsA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__wLjh4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(5px);
  min-width: 0;
  -webkit-backdrop-filter: blur(5px);
  padding: 8px;
}
.column__wLjh4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.column__wLjh4 > :global(.__wab_flex-container) > *,
.column__wLjh4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wLjh4 > :global(.__wab_flex-container) > picture > img,
.column__wLjh4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.text__fYyJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  min-width: 0;
}
.checkbox__q0KSf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__v7Bru:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__cjaZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__pgZh5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button___2PGe4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.svg___1PbeD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__at8A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
