.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8QFEe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xTkbg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
